h1{

    text-align: center;
}

div{

    height: 150px;
    width: 150px;
    border: 2px solid black;
    font-size: 30px;
    
}


section{

    width: 75vw;
    height: 600px;
    border: 1px solid black;
    margin: 40px auto;

    background-color: blue;

    /* Applying the flexbox on this section */
    display: flex;
    justify-content: flex-start;

    /* flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start; */

}

div:nth-of-type(1){

    flex-grow: 1;
}


div:nth-of-type(5){
    
    /* Now, the 3 times space is eaten up by the 5th div */
    flex-grow: 3;
}


/* Konsa div jaada shrink hoga that we can also specify. Using ::after

   flex-shrink

*/


/* Try to decrease the size of the screen , then you can see that 5th div is shrinking more. */

div:nth-of-type(5){
    
    /* So, 5th div 2times jaada shrink hoga as compare to other div's */
    flex-shrink: 2;
}

