/* 

The transform CSS property lets you rotate ,  scale ,  skew , or translate an element. It modifies the coordinate space of the CSS visual formatting model.


*/

body{

    background-color: cornflowerblue;
}


h1{

    font-size: 5rem;
    text-align: center;
    color: white;

    /* Since, tranform makes abrupt changes i.e using transition property */

    transition: 2s;
    /* transition-delay: 2s; */

}


h1:hover{
    
    /* Rotation around X axis */
    /* transform: rotateX(180deg); */

    /* transform: rotateY(180deg); */

    /* transform: rotateZ(2turn); */


    transform: translateX(400px);
    transform: translateX(-400px);

    transform: translateY(400px);

    /* translate shorthand property */
    transform: translate(200px , 50%);
    
    
    /* Font size becomes twice */
    /* transform: scale(2); */

    /* transform: skewX(30deg); */

    cursor: pointer;

}